@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f4f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Styles for desktop screens with a minimum width of 768px */
header {
  width: 100%;
  height: 72px;
  padding: 16px 143px 16px 143px;
  display: flex;
  justify-content: space-between;
}

header a {
  width: hug(100px);
  height: hug(40px);
  top: 16px;
  left: 143px;
  padding: 10px 12px 10px 12px;
}

header a h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  animation: logoAnimation 2s infinite;
}

header ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #344563;
  top: 16px;
  left: 1039px;
  gap: 8px;
}

header ul li {
  width: hug(86px);
  height: hug(40px);
  padding: 10px 12px 10px 12px;
  gap: 10px;
}

header ul li a {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

header .burger {
  display: none;
}

.contact-form button {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #fff);
  color: #6070ff;
  border: none;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
  width: 180px;
  text-align: center;
  margin: 0 30%;
}

ul.social-links img {
  height: 30px;
}

.link button img {
  width: 24px;
  height: 24px;
}

.aboutContent ul li img {
  width: 24px;
  height: 24px;
  padding: 2px 3px 2px 3px;
}

.nav ul {
  margin-top: 60px;
  top: 44px;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #fff;
}

.containerBg {
  background-image: url(../media/background.png);
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 846px;
  top: 71px;
  padding: 289px 260px 289px 260px;
  border-bottom-left-radius: 150px;
}

.containerBg section {
  display: flex;
  flex-direction: column;
  gap: 12;
}

.containerBg .wrapper {
  width: hug(920px);
  height: hug(268px);
  top: 289px;
  left: 260px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aboutContent h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  margin-top: 12px;
}

.aboutContent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 12px;
}

.info {
  color: #344563;
}

.aboutContent ul {
  list-style: none;
  display: flex;
  margin-top: 16px;
}

.aboutContent h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  text-transform: uppercase;
  margin-top: 12px;
}

.details p {
  width: 70%;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.containerBg .wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #091e42;
}

.langCard p {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.contact h2 {
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contact p {
  color: #ebebff;
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.container .wrapper p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #344563;
}

.containerBg .wrapper h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #6070ff;
  text-transform: uppercase;
}

.containerbG .wrapper ul {
  display: flex;
  list-style: none;
  width: 170.1666717529297px;
  height: 20.000062942504883px;
  top: 642px;
  left: 260px;
  justify-content: space-between;
  align-items: center;
}

ul.social-links {
  display: flex;
  justify-content: start;
  gap: 10;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}

ul.social-links li {
  margin-right: 10px;
}

.works {
  height: hug (2, 788px);
  top: 718px;
  padding: 114px 24px 114px 24px;
  display: grid;
  grid-template-columns: auto;
  flex-direction: column;
  gap: 88px;
  width: 100%;
  justify-content: center;
}

.work-item {
  width: 80vw;
  height: 100%;
  padding: 16px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 0.5px #dfe1e6 solid;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
  display: flex;
}

.work-item:nth-child(even) {
  flex-direction: row-reverse;
}

.work-item:nth-child(odd) {
  flex-direction: row;
}

.work-image {
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

.work-details {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  width: 50%;
  padding: 3% 3%;
}

.work-title {
  width: 295px;
  height: 36px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.work-tags {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.work-tag {
  padding: 8px;
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}

.work-description {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.work-tech-stack {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
  margin-top: 5%;
}

.tech-tag {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.work-link {
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  border: none;
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

.work-link:hover {
  transform: scale(1.1);
}

.link-button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}

.link-button:active {
  background-color: #2230d2;
  color: #f4f5f7;
}

.link-button:hover {
  background-color: #6070ff;
  color: #f4f5f7;
  cursor: pointer;
}

.about {
  width: hug (375px);
  height: hug (2, 788px);
  top: 718px;
  padding: 114px 24px 114px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 88px;
  background-color: white;
  border-top-right-radius: 100px;
}

.lg-screen {
  display: flex;
}

.sm-screen {
  display: none;
}

.aboutContent {
  width: 80vw;
  height: hug (346px);
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftBlock {
  width: 48%;
}

.aboutContent ul li {
  width: hug (40px);
  height: hug (40px);
  padding: 8px;
  border-radius: 8px;
}

.project-button {
  width: 50%;
  background-color: transparent;
  height: hug (48px);
  padding: 12px;
  border-radius: 8px;
  border: 0.5px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  transition: all ease-in-out 0.5s;
}

.project-button:active {
  background-color: #396df2;
  cursor: pointer;
}

.project-button:hover {
  background-color: #6070ff;
  cursor: pointer;
}

.button-content {
  text-align: start;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.project-button:hover .button-content {
  color: white;
}

.project-button:active .button-content {
  color: white;
}

.language-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.title {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.languages {
  display: flex;
  flex-direction: row;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  gap: 12px;
}

.languages .list {
  display: flex;
  flex-direction: column;
  width: 122px;
  gap: 16px;
  background-color: #f7f7f9;
  padding: 12px 12px 20px 12px;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  align-items: flex-start;
  line-height: 20px;
  word-wrap: break-word;
}

.languages .list img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(#fff, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.contact {
  background-image: url(../media/ContactDesktopBg.png);
  width: 100vw;
  height: 846px;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer {
  width: 35%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5%;
  gap: 27px;
  margin-top: 5%;
}

.contact-form input {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #cfd8dc;
  background: #fff;
  padding: 15px 38px 15px 16px;
}

.contact-form textarea {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  padding: 6px;
  height: 170px;
}

.nav {
  background-color: #4356ffd3;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 20px;
  display: none;
}

.moreDetails {
  display: block;
}

.close-btn {
  float: right;
  background-color: transparent;
  border: none;
}

.nav ul li {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  list-style: none;
}

.modal {
  background-color: #c1c7d0e9;
}

.nav {
  
}

.hidden {
  display: none;
}

.modal-container {
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #b9c0c9e5;
  padding: 24px;
}

.link button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  border: 1px solid #6070ff;
  color: #6070ff;
  gap: 3px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  width: 100%;
}

.modal-container .head {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.modal-container .head .left ul {
  display: flex;
  padding: 15px 0;
}

.modal-container .head .left ul li {
  margin-left: 24px;
}

.modal-container .head button {
  border: none;
  background-color: transparent;
}

.modal-container .contentimg {
  background-color: #e6e6e2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-container .contentimg img {
  width: 100%;
  margin-top: -60px;
}

.details {
  width: 100%;
  display: flex;
  padding: 32px 0;
  gap: 18px;
}

.category {
  /* background-color: red; */
  padding: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category .tag {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.category .tag span {
  background-color: #6070ff4d;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
  padding: 4px 12px;
  border-radius: 8px;
  transition: all ease-in-out 0.5s;
}

.category .tag span:hover {
  transform: scale(1.1);
}

.link {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 10px 0;
  gap: 14px;
}

.link a {
  width: 100%;
}

.link button:hover {
  transform: scale(1.1);
}

/* Styles for mobile screens with a minimum width of 375px */
@media (max-width: 768px) {
  header {
    height: 48px;
    top: 44px;
    padding: 4px 24px 4px 12px;
  }

  header a {
    width: hug(100px);
    height: hug(40px);
    top: 4px;
    left: 12px;
    padding: 10px 12px 10px 12px;
  }

  header a h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  header ul {
    display: none;
  }

  header .burger {
    display: block;
    width: hug(40px);
    height: hug(40px);
    top: 4px;
    left: 311px;
    padding: 8px;
    border-radius: 8px;
  }

  header ul .burger img {
    width: 24px;
    height: 24px;
    padding: 6px 2.999884605407715px 6px 3.000115394592285px;
  }

  .containerBg {
    background-image: url(../media/mobilebg1.png);
    background-size: contain;
    width: hug(375px);
    height: hug(604px);
    top: 92px;
    padding: 114px 24px 114px 24px;
    gap: 12px;
  }

  .work-item {
    width: 90vw;
    height: 100%;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
  }

  .work-item:nth-child(even) {
    flex-direction: column;
  }

  .work-item:nth-child(odd) {
    flex-direction: column;
  }

  .work-image {
    width: 100%;
  }

  .work-details {
    width: 100%;
  }

  .about {
    flex-direction: row;
  }

  .details {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .aboutContent {
    width: 90vw;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftBlock {
    width: 100%;
  }

  .language-container {
    width: 100%;
  }

  .languages {
    flex-direction: column;
  }

  .languages .list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .contact {
    background-image: url(../media/contactBg.png);
    padding-top: 22%;
    width: 100%;
  }

  .contactContainer {
    width: 95%;
  }

  .lg-screen {
    display: flex;
    flex-direction: column;
  }

  .sm-screen {
    display: flex;
  }

  .ul .social-links img {
    height: 19.96px;
    width: 19.99px;
  }

  .contact-form button {
    display: inline-flex;
    margin: 0;
    width: 40%;
  }

  .modal-container {
    width: 90%;
  }

  .nav {
    display: none;
  }

  .details p {
    width: 100%;
  }

  .moreDetails {
    display: none;
  }
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2); /* Scale up the logo to 120% */
  }

  100% {
    transform: scale(1);
  }
}
